<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="myget-cake" value="https://www.myget.org/F/cake/api/v3/index.json" />
    <add key="ProGet" value="http://packages.mk6.local:9999/nuget/main/" />
  </packageSources>
  <config>
    <add key="DefaultPushSource" value="http://packages.mk6.local:9999/nuget/main/" protocolVersion="2" />
  </config>
</configuration>